---
const { image, label, header } = Astro.props;
---

<section>
  <img src={image} alt="" />
  <div>
    <span>{label}</span>
    <h1>{header}</h1>
  </div>
</section>

<style>
  @layer components {
    section {
      grid-column: full;
      display: grid;
      grid-template-columns: subgrid;

      img {
        grid-column: full;
        grid-row: 1 / 2;
      }

      div {
        grid-column: content;
        grid-row: 1 / 2;
        align-self: center;
        background: #ffffffdd;
        max-width: 65ch;
        padding: 2rem;
        border-radius: 20px;

        span {
          background: var(--primary-01);
          padding: 0 0.75rem;
          border-radius: 30px;
        }
      }
    }

    @media (width < 600px) {
      section {
        grid-template-columns: 1fr;

        img {
          grid-column: 1;
        }

        div {
          grid-column: 1;
        }
      }
    }
  }
</style>
