---
const { header, button } = Astro.props;
---

<article>
  <h6>{header}</h6>
  <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
  <button>{button}</button>
</article>

<style>
  @layer components {
    article {
      background: rgba(38, 38, 38, 0.9);
      padding: 2.875rem;
      border-radius: 20px;
    }
  }
</style>
