---

---

<button popovertarget="popup">Login</button>

<div popover id="popup">
  <h4>Dashboard Login</h4>
  <form>
    <input type="email" placeholder="Enter email" required />

    <input type="password" placeholder="Enter password" required />

    <button class="submit">Go to dashboard</button>
  </form>
</div>

<style>
  [popover]::backdrop {
    background: #0004;
    backdrop-filter: blur(16px);
  }

  button {
    background: var(--primary-01);
    border-radius: 40px;
    padding: 0.25rem 1rem;
    color: var(--primary-03);
    transition: all 0.55s ease;
    border-radius: 42px;
    align-self: center;

    border: 2px solid transparent;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      color 0.3s ease,
      border-color 0.3s ease;
  }

  .submit {
    background: var(--primary-01);
    display: inline-block;
    padding: 16px 37px;
    transition: all 0.55s ease;
    border-radius: 42px;
  }

  input {
    border-radius: 100px;
    background: var(--secondary-02);
    padding: 18px;
    z-index: 10;
  }

  #popup {
    padding: 2.5rem 8rem;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background: rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 29px;
    color: var(--secondary-02);

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--primary-03);
    }
  }
</style>
